*{
    margin: 0;
    padding: 0;
    /*border: 2px solid red;*/
    color: rgb(198, 196, 182);
    
}

html{
    background-image: url('space/space3_2.jpg');

}
table{
    text-align: center;
    background-color: rgb(17, 17, 16);
    border: 1px solid rgb(128, 126, 112);
}


/*header*/
header{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pagename{  
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.navheader{
    /*border: 20px solid blue;*/
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.tomain, .toguide, .tocommunity, .tosuggestnight, .tosuggeststar{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 auto ;
    text-align: center;

    /*border: 0.1px solid black;*/
    border-radius: 50%;

    width: 120px;
    height: 120px;

    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#now{
    padding: 20px;
}

.tosuggestnight, .tosuggeststar{
    margin-top: 150px;
}

.tocommunity,.toguide{
    margin-top: 75px;
}

/*아이콘 이미지*/
.tomain{
    background-image: url('moon/moon_mainpage_2.jpg');
}
.toguide{
    background-image: url('moon/moon_guide_2.jpg');
}
.tocommunity{
    background-image: url('moon/moon_community_2.jpg');
}
.tosuggestnight{
    background-image: url('moon/moon_night_2.jpg');
}
.tosuggeststar{
    background-image: url('moon/moon_star_2.jpg');
}
/*mainpage*/

.mainpage{
    display: flex;
    flex-direction: column;
}
.mainpageheader{
    display: flex;
    justify-content: center;
}
.main1{
    border: 1px solid rgb(128, 126, 112);
    margin:0 auto;
    width: 70%;
    height: auto;
}
.main2{
    border: 1px solid rgb(128, 126, 112);
    margin:0 auto;
    width: 70%;
    height: 200px;
}

/*guide*/
.guidepage{
    display: flex;
    flex-direction: column;
}
.guideheader{
    display: flex;
    justify-content: center;
}
.guide1{
    margin: 20px auto;
    width: 70%;
    height: auto;
}
.guide2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    height: auto;
    padding:auto;
    /*560:315*/
}
.guide3{
    text-align: center;
    padding: 50px 0;
}
.guidevideoboxforcenter{
    display: flex;
    justify-content: center;
    /*border: 2px solid rgb(30, 0, 255);*/
}
.guidevideobox{
    /*border: 2px solid rgb(0, 255, 26);*/
    width: 56.0vw;
    height: 31.5vw;
}
.guidevideo{
    width:100%;
    height:100%;
}

/*야경 추천 : nightsuggest*/
.nightsuggest{
    display: flex;
    flex-direction: column;
}
.nightheader{
    display: flex;
    justify-content: center;
}
.mapbox{
    margin: auto;
    width: 70%;
    height: 700px;
}
.map{
    width: 100%;
    height: 100%;
}
.night1{
    margin: 20px auto 0;
    width: 70%;
}
.night2{
    display: flex;
    flex-wrap: wrap;
}

.nightimg{
    width: 100%;
}


/*별자리 추천 : */
.starsuggest{
    display: flex;
    flex-direction: column;
}
.starheader{
    display: flex;
    justify-content: center;
}
    /*map양식은 야경지도와 동일*/

.star1{
    margin: 20px auto 0;
    width: 70%;
}
.star2{
    margin: 50px auto 0;
    width: 70%;

}
.starimg{
    width: 100%;
}

/*footer*/
.madeby{
    margin: 100px 0 50px 15%;
}